.feynman {
  height: 790px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 775px;
  padding-top: 100px;
  padding-bottom: 70px;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  position: relative;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
  position: relative;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__image {
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
