.footer {
  background-color: black;
}

.footer__columns {
  min-height: 350px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-bottom: 18px;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__column-heading {
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin: 0;
}

.footer__list {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  list-style: none;
  color: white;
  margin: 0;
}

.footer__column-link {
  line-height: 10px;
  text-decoration: none;
  color: white;
}

.footer__social-icons {
  width: 16px;
  margin-right: 10px;
}
