.oakley {
  margin: 0;
  background-color: #f2f2f2;
  padding-top: 160px;
}

.two-columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:nth-of-type(3n) {
  margin: 0;
}

.span-accent {
  font-weight: bold;
}
