.resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  width: 60%;
  margin: 100px auto 20px;
  text-align: center;
  line-height: 1.5;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.resources__logo-zone {
  width: 1100px;
  display: flex;
  flex-direction: row;
  margin: 80px auto 217px;
}

.resources__logo {
  width: 270px;
}
